/*=================================*/
/* Pico Default Theme
/* By: Gilbert Pellegrom
/* http: //dev7studios.com
/*=================================*/
/* Main Styles
/*---------------------------------------------*/
body {
   font: 14px/1.8em Verdana, sans-serif;
   color: #444;
   background: #EFEFEF;
   -webkit-font-smoothing: antialiased;
}

a, a:visited {
   color: #2EAE9B;
   text-decoration: none;
   -webkit-transition: all 0.3s linear;
   -moz-transition: all 0.3s linear;
   -ms-transition: all 0.3s linear;
   -o-transition: all 0.3s linear;
   transition: all 0.3s linear;
}

a:hover, a:active {
   color: #000;
   text-decoration: none;
}

/* Structure Styles
/*---------------------------------------------*/
.inner {
   width: 900px;
   margin: 0 auto;
}

.header {
   background: #2EAE9B;
   padding: 1.5em 0;
   margin-bottom: 3em;
   color: #afe1da;
   font-family: Helvetica, arial, sans-serif;
}
.header a { color: #afe1da; }
.header h1 a,
.header a:hover { color: #fff; }
.header h1 {
   font-weight: bold;
   margin: 0;
   font-size:2em;
   float: left;
}
.header .nav {
   float: right;
   list-style: none;
   margin: 0;
   padding: 0;
}
.header .nav li { display: inline; }
.header .nav a {
   font-weight: bold;
   margin-left: 20px;
}

.footer {
   background: #707070;
   padding: 1.5em 0;
   margin-top: 3em;
   color: #C0C0C0;
}
.footer a { color: #ddd; }
.footer a:hover { color: #fff; }

/* Misc Styles
/*---------------------------------------------*/
.clearfix:before,
.clearfix:after {
   content: " ";
   display: table;
}
.clearfix:after {
   clear: both;
}
.clearfix {
   *zoom: 1;
}

/* Login
/*---------------------------------------------*/
.login {
   margin-top: 8em;
   text-align: center;
}
.login .content {
   background: url(../img/camera.svg) no-repeat center 0px;
   padding-top: 12em;
   background-size: 100px 73px;
}
.login form {
   background-color: #FFF;
   max-width: 400px;
   margin: 0 auto;
   min-width: 320px;
   padding: 2em 0 0 0;
   border-bottom: 1px solid #CCC;
   position:relative;
}
.login form:before {
   width: 0px;
   height: 0px;
   border-style: solid;
   border-width: 0 1.5em 2em 1.5em;
   border-color: transparent transparent #FFF transparent;
   content: '';
   position: absolute;
   top: -2em;
   left: 186px;
}
.error {
   font-size: 18px;
   color: #E74C3C;
   padding: 10px;
   margin: 0 0 1em;
   font-weight: bold;
   /* color: #FFF; */
   border-radius: 30px;
}
.login input {
   padding: 10px 40px 10px 10px;
   font: 400 1em Verdana, Sans-serif;
   color: #333;
   border: none;
   margin: 0 6px 1em 0;
   width: 212px;
   outline: none;
   border: 1px solid lightgrey;
   border-radius: 5px;
}
.login input[type="text"] {
   background: url(../img/user.svg) no-repeat 8px 7px;
   background-size: 22px;
   padding-left: 3em;
}
.login input[type="password"] {
   background: url(../img/padlock.svg) no-repeat 8px 8px;
   background-size: 16px;
   padding-left: 3em;
}
.login input[type="submit"] {
   width: 200px;
   background-color: #2EAE9B;
   color: #FFF;
   border: none;
   padding: 10px;
   margin-bottom: 2em;       
}


/* Gallery
/*---------------------------------------------*/
.gallery .folder {
   float:left;
   background: #FFF;
   margin: 0 0.5em 4em 0.5em;
   border-bottom: 1px solid #CCC;
   max-width: 284px;
}
.gallery .folder a {
   display: block;
   padding-bottom: 1em;
}
.gallery .folder p {
   text-align:center;
   margin:0;
}
img {
   -webkit-transition: opacity 0.3s ease-in-out;
   -moz-transition: opacity 0.3s ease-in-out;
   -ms-transition: opacity 0.3s ease-in-out;
   -o-transition: opacity 0.3s ease-in-out;
   transition: opacity 0.3s ease-in-out;
}
.gallery .folder img {
   border: 1px solid #ecf0f1;
   border-top: 1px solid #FFF;
   border-bottom: none;
}
.gallery .folder:hover img{
   opacity: 0.7;
}
.gallery .images {
   clear:both;
   font-size: 0; /* Because of display:inline-block */
}
.gallery .image {
   display:inline-block;
   margin: 0px 7px 7px 7px; /* 1em / 2 = 7px */
}
.gallery .image img {
   border: 1px solid #EEE;
   border-bottom: 1px solid #CCC;
}
.gallery .image:hover img {
   opacity: 0.7;
}

/* Gallery
/*---------------------------------------------*/
.detail {
   max-width: 900px;
}

/* Gallery
/*---------------------------------------------*/
.breadcrumb {
   background: #FFF;
   color: #666;
   margin-bottom: 3em;
   height: 3em;
   line-height: 3em;
   font-size: 1em;
   border-bottom: 1px solid #CCC;
   padding-left: 1em;
}
.breadcrumb li {
   display:inline-block;
}
.breadcrumb a {
   font-weight: bold;
}
.breadcrumb li:not(:first-child):before {
   content : ' ❯ ';
   margin: 0 0.5em;
}

/* Gallery
/*---------------------------------------------*/
.pagination {
   clear:both;
   background: #FFF;
   text-align: center;
   list-style-type: none;
   margin-top: 3em;
   line-height: 3em;
   border-bottom: 1px solid #CCC;
}
.pagination li {
   display:inline-block;
   width: 3em;
}
.pagination .current {
   background:#DADADA;
   position:relative;
}
.pagination .current:before {
   width: 0px;
   height: 0px;
   border-style: solid;
   border-width: 0 .5em 10px .5em;
   border-color: transparent transparent #DADADA transparent;
   content:'';
   position: absolute;
   top:-10px;
   left:1em;
}
.pagination a {
   display:block;
   font-weight: bold;
}
.image-wrapper {
   position:relative;
}
.image-wrapper img {
   border-bottom: 1px solid #CCC;
}
.previous-image, .next-image {
   position: absolute;
   padding: 1em;
   background:#DADADA;
   border-bottom: 1px solid #CCC;
   top: 50%;
   width: 1em;
   font-size:2em;
   text-align:center;
   margin-top: -1.5em;
}
.previous-image {
   left: -3em;
}
.next-image {
   right: -3em;
}
