{% extends "template.twig" %}

{% block title %}Gallery{% endblock %}

{% block bodyClass %}gallery{% endblock %}

{% block content %}
{%if breadcrumb %}
<ul class="breadcrumb">
   {% for link,url in breadcrumb %}
   <li>
   {% if url %}
   <a href="{{ url }}">{{ link }}</a></li>
   {% else %}
   {{ link }}
   {% endif %}
   {% endfor %}
</ul>
{% endif %}
<div class="image-wrapper">
   {% if image_previous_url != base_url ~ "/" %}
   <a class="previous-image" href="{{ image_previous_url }}">❮</a>
   {% endif %}
   {% if image_next_url != base_url ~ "/" %}
   <a class="next-image" href="{{ image_next_url }}">❯</a>
   {% endif %}
   <img class="detail" src="{{ image_url }}" width="900"/>
</div>
{% endblock %}
