{% extends "template.twig" %}

{% block title %}Gallery{% endblock %}

{% block bodyClass %}gallery{% endblock %}

{% block content %}
<div id="content">
   <div class="inner">
      {%if breadcrumb %}
      <ul class="breadcrumb">
         {% for name,url in breadcrumb %}
         <li>
         {% if url %}
         <a href="{{ url }}">{{ name }}</a></li>
         {% else %}
         {{ name }}
         {% endif %}
         {% endfor %}
      </ul>
      {% endif %}
      {% if folders %}
      <div class="folders">
         {% for folder in folders%}
         <div class="folder">
            <a href="{{ folder.url }}">
               {{ picturo_thumbnail(folder.thumbnail_url, 284, 200) }}
               <p>{{ folder.name }}</p>
            </a>
         </div>
         {% endfor %}
      </div>
      {% endif %}
      <div class="images">
         {% for image in images %}
         <div class="image">
            <a href="{{ image.url }}">
              {{ picturo_thumbnail(image.thumbnail_url, 164, 164) }}
            </a>
         </div>
         {% endfor %}
      </div>

      {% if page_count > 1 %}
      <ul class="pagination" style="clear:both">
         {% for i in 1..page_count %}
         {% if current_page + 1 == i %}
         <li class="current">{{ i }}</li>
         {% else %}
         {% if i == 1 %}
         <li><a href="{{base_url}}{{ url }}">{{ i }}</a></li>
         {% else %}
         <li><a href="{{base_url}}{{ url }}page{{ i }}"> {{ i }}</a></li>
         {% endif %}
         {% endif %}
         {% endfor %}
      </ul>
      {% endif %}
   </div>
</div>
{% if folders == false %}
<script type="text/javascript">
      <!--
      // better image preloading @ http://perishablepress.com/press/2009/12/28/3-ways-preload-images-css-javascript-ajax/
;(function(window,undefined){

   'use_strict';
   function preloader() {
       if (document.getElementById) {
          {% for img in preloader %}

            var address{{ loop.index }}  = '{{ img }}';
            var preloader{{ loop.index }}  = document.getElementById("preload-{{ loop.index }} ");
            preloader{{ loop.index }} .style.backgroundImage = 'url("'+address{{ loop.index }} +'")';
            preloader{{ loop.index }} .style.backgroundPosition = '-9999px -9999px';
            preloader{{ loop.index }} .style.backgroundRepeat = 'no-repeat';
         {% endfor %}
          
       }
    }
    window.onload = preloader;
})(window);     
      //-->
</script>

{% for img in preloader %}
   
   <div id="preload-{{ loop.index }} "></div>
{% endfor %}
{% endif %}
{% endblock %}
