<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />
    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>

    {% if meta.description %}
    <meta name="description" content="{{ meta.description }}">
    {% endif %}
    {% if meta.robots %}
    <meta name="robots" content="{{ meta.robots }}">
    {% endif %}

    <link rel="stylesheet" href="{{ theme_url }}/style.css" type="text/css" />
  </head>
  <body>

    <header id="header">
      <div class="inner clearfix">
        <h1><a href="{{ base_url }}">{{ site_title }}</a></h1>
      </div>
    </header>
    <div id="content">
      <div class="inner">
        {%if breadcrumb %}
        <ul class="breadcrumb">
          {% for link,url in breadcrumb %}
          <li>
          {% if url %}
            <a href="{{ url }}">{{ link }}</a></li>
          {% else %}
            {{ link }}
          {% endif %}
          {% endfor %}
        </ul>
        {% endif %}
        {% if image_url %}
        <div class="image-wrapper">
          {% if image_previous_url != '/' %}
          <a class="previous-image" href="{{ image_previous_url }}">❮</a>
          {% endif %}
          {% if image_next_url != '/' %}
          <a class="next-image" href="{{ image_next_url }}">❯</a>
          {% endif %}
        <img class="detail" src="{{ image_url }}" width="900"/>
      </div>
      </div>
      {% else %}
      {% if folders %}
      <div class="folders">
        {% for folder in folders%}
        <div class="folder">
          <a href="{{ folder.url }}">
            <img src="{{ folder.thumbnail }}" width="284" height="200" />
            <p>{{ folder.name }}</p>
          </a>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      <div class="images">
        {% for image in images %}
        <div class="image">
          <a href="{{ image.url }}">
            <img src="{{ image.thumbnail }}" alt="{{ image.name }}" width="{{ image.width }}" height="{{ image.height }}">
          </a>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {% if page_count > 1 %}
      <ul class="pagination" style="clear:both">
        {% for i in 1..page_count %}
        {% if current_page + 1 == i %}
        <li class="current">{{ i }}</li>
        {% else %}
        {% if i == 1 %}
        <li><a href="{{ url }}">{{ i }}</a></li>
        {% else %}
        <li><a href="{{ url }}/page{{ i }}"> {{ i }}</a></li>
        {% endif %}
        {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
  <!-- Don't do this at home -->
  <div class="separator clearfix"></div>
  <footer id="footer">
    <div class="inner">
      <a href="https://github.com/jbleuzen/Picturo">Picturo</a> was made by <a href="http://www.johanbleuzen.fr">Johan BLEUZEN</a> and inspired by <a href="https://github.com/gilbitron/Pico">Pico</a>.
    </div>
  </footer>

</body>
</html>
